In [1]:
import numpy as np
import pandas as pd

#### 1) Exploring the dataset.

source : http://www2.informatik.uni-freiburg.de/~cziegler/BX/

First we load the dataset using the Pandas API.

In [2]:
print ('\033[1m' + 'Users dataframe')
users = pd.read_csv("BX-CSV-Dump/BX-Users.csv", delimiter=";", encoding = "ISO-8859-1")
display(users.head(10))

print ('\033[1m' + 'Books dataframe')
books = pd.read_csv("BX-CSV-Dump/BX-Books.csv", delimiter=";", error_bad_lines=False, encoding = "ISO-8859-1")
books['book_id'] = books.index
display(books.head(10))

print ('\033[1m' + 'Ratings dataframe')
book_ratings = pd.read_csv("BX-CSV-Dump/BX-Book-Ratings.csv", delimiter=";", encoding = "ISO-8859-1")
book_ratings = book_ratings.merge(books[['ISBN','book_id']])
display(book_ratings.head(10))

Users dataframe

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN
5        6       santa monica, california, usa  61.0
6        7                 washington, dc, usa   NaN
7        8            timmins, ontario, canada   NaN
8        9          germantown, tennessee, usa   NaN
9       10          albacete, wisconsin, spain  26.0

Books dataframe

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\Vaggelis\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,book_id
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,1
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,2
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,3
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,4
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,5
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,6
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,7
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...,8
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,9

Ratings dataframe

   User-ID        ISBN  Book-Rating  book_id
0   276725  034545104X            0     2966
1     2313  034545104X            5     2966
2     6543  034545104X            0     2966
3     8680  034545104X            5     2966
4    10314  034545104X            9     2966
5    23768  034545104X            0     2966
6    28266  034545104X            0     2966
7    28523  034545104X            0     2966
8    39002  034545104X            0     2966
9    50403  034545104X            9     2966

In total we have 278858 users, 271379 books and 1149780 different ratings.

#### 2) The book-user matrix.

Now we want to construct the item-user matrix with rows the unique books, columns the unique users and values the ratings that the users have given to the books. We want to use this matrix to compute the distances between diffenent books (ie row-wise distances). One could do it using the "pivot" function from Pandas. 

However, the matrix described above is by construction quite sparse, since each book has received a small amount of reviews compared to the total number of users. Sparse matrices are unprofitable to store.

One way to deal with this issue is to consider the CSR (Compresses Sparse Row) represantation of the matrix.

In [3]:
from scipy.sparse import csr_matrix
from pandas.api.types import CategoricalDtype

users_c = CategoricalDtype(sorted(users['User-ID'].unique()), ordered=True) # unique users
books_c = CategoricalDtype(sorted(books['book_id'].unique()), ordered=True) # unique books
data = book_ratings['Book-Rating'].tolist()

row = book_ratings['book_id'].astype(books_c).cat.codes
col = book_ratings['User-ID'].astype(users_c).cat.codes

# item-user matrix
sparse_matrix = csr_matrix((data, (row, col)), shape=(books_c.categories.size, users_c.categories.size))

#### 3) The model that computes distances

In order to compute the distance between two books, we must compute row-wise vector distances in the above matrix. 

In this repo we will use an unsupervised version of the Nearest Neighbors model. 

We consider the cosine similarity metric 
                       
                               K(X, Y) = <X, Y> / (||X||*||Y||), 
                           
and define it to find the 10 closest books for each book.

In [4]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=10)

Below we fit the book-user matrix to the Nearest Neighbors model.

In [5]:
model.fit(sparse_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                 radius=1.0)

#### 4) The recommender system

In [6]:
def recommend_books_for (book) :
    """
    argument : the name of the book, in str
    returns : return the 10 books that are the "closest" to the book of interest
    """
    book_search = book
    book_id = books[books['Book-Title'] == book_search]['book_id']
    #print(book_id)

    nearest_neighbors = model.kneighbors(sparse_matrix[book_id])
    print("Recommended books for %s:" % book_search)

    nearest_neighbors_ids = np.squeeze(nearest_neighbors[1])
    print([books[books.book_id == x]['Book-Title'].item() for x in nearest_neighbors_ids[1:]])

####  an example

In [7]:
recommend_books_for('Decision in Normandy')

Recommended books for Decision in Normandy:
['Currahee!:  A Screaming Eagle at Normandy', 'August 1944: The Campaign for France', "If You Survive: From Normandy to the Battle of the Bulge to the End of World War II, One American Officer's Riveting True Story", 'War on the Eastern Front: The German Soldier in Russia, 1941-1945 (Greenhill Military Paperbacks.)', "War's End: An Eyewitness Account of America's Last Atomic Mission", 'Always Faithful : A Memoir of the Marine Dogs of WWII', "101 Questions Your Cat Would Ask: What's Bothering Your Cat and How to Solve Its Problems", 'Cc Nutcracker', 'Ignorant Armies : Sliding into War in Iraq']